.slider{
    background: $clr-gradient-gray-light-main;

    .advert-slider{

        .swiper-pagination{
            bottom: 15px;
            top: auto;
            background: $clr-white;
            border-radius: 2px;
            .swiper-pagination-progressbar-fill{
                background:$clr-gray-blue-dark;
                border-radius: 2px;
            }
        }

        .slide-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            padding: 40px 0;

            .about-us {
                align-self: flex-start;
                max-width: 50%;

                .title {
                    font: $typo-h1-mob;
                    margin-bottom: 10px;
                }

                .desc {
                    font: $typo-h1-mob;
                    font-weight: 300;
                    font-size: 13px;
                    margin-bottom: 15px;
                }

                .product-list-link-btn {
                    background: $clr-gray-blue-dark;
                    color: $clr-white;
                }
            }

            .product-image {
                width: calc(100% - 50px);
                max-width: 560px;

                img {
                    display: block;
                    width: 100%;
                }
            }

            .product-info {
                align-self: flex-end;
                max-width: 50%;

                .title {
                    font: $typo-h1-mob;
                    font-weight: 300;
                    font-size: 14px;
                    margin-bottom: 5px;
                }

                .model {
                    font: $typo-h1-mob;
                    font-weight: 500;
                    font-size: 14px;
                    margin-bottom: 15px;
                }
            }

            .slide-empty{
                width: 100%;
                height: 100%;
                background: $clr-gray-blue-dark;
            }
        }
    }
}

/* laptop-s (sm)*/
@media(min-width: 992px) {
    .slider{
        .advert-slider{
            .slide-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                gap: 40px;

                width: 100%;
                height: 545px;
                padding: 80px 0;

                .about-us{
                    align-self: auto;
                    flex: 1 1 0;
                    .title{
                        font: $typo-h1;
                        margin-bottom: 30px;
                    }
                    .desc{
                        font: $typo-h1;
                        font-weight: 300;
                        font-size: 20px;
                        margin-bottom: 30px;
                    }
                }
                .product-image{
                    flex: 2 0 0;
                    width: 560px;
                    img{
                        display: block;
                        width: 100%;
                    }
                }
                .product-info{
                    flex: 1 1 0;
                    align-self: flex-end;
                    .title {
                        font: $typo-h1;
                        font-weight: 300;
                        font-size: 24px;
                        margin-bottom: 10px;
                    }
                    
                    .model {
                        font: $typo-h1;
                        font-weight: 500;
                        font-size: 24px;
                        margin-bottom: 20px;
                    }
                
                    .product-link-btn {
                        background: none;
                        color: $clr-gray-blue-dark;
                    }
                }
            }
        }
    }
}