// color-template

$clr-gray-blue-dark: #859BA6;
$clr-white: #FFFFFF;
$clr-black: #333333;
$clr-gray-blue-light: #F6F8FA;

$clr-gradient-gray-light:linear-gradient(#D3E4ED, #F7F9FB);
$clr-gradient-gray-dark:linear-gradient(#7E98A5, #B6C8D0);
$clr-gradient-gray-light-main: linear-gradient(to top, rgb(212, 227, 236, 0.3), rgb(247, 249, 251, 0.3));

//typo-template

$typo-h1: 500 50px/1.3 'Roboto', sans-serif;
$typo-h2: 500 38px/1.3 'Roboto', sans-serif;
$typo-h1-mob: 500 28px/1.3 'Roboto', sans-serif;
$typo-h2-mob: 500 24px 'Roboto', sans-serif;

